* {
	box-sizing: border-box;
}

body {
	font-size: 24px;
	line-height: 32px;
	color: #333;
}

#fixed {
	height: 200px;
	width: 350px;
	background: #ddd;
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
}

#content {
	width: 900px;
	padding: 20px;
	margin: 0 auto;
}

#relative {
	position: relative;
	height: 300px;
	padding: 20px;
	text-align: center;
	background: #ddd;
}

#absolute {
	position: absolute;
	height: 200px;
	width: 350px;
	padding: 20px;
	bottom: 0px;
	right: -20px;
	text-align: center;
	background: #777;
}
